body{

    background: url("../../assets/images/fruitbackground.jpg");
    background-size: cover;

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}
#canvas{

height: 280px;
width: 255px;
margin:  auto;
/* Flexbox styling for card animation*/
display: flex;
flex-wrap: wrap;

background-color: lightcyan;
border: 5px solid turquoise;

}

.card{

    height: 55px;
    width: 58px;
    margin: 2.5px;

}
