/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Notable&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{


    /* Background courtesy of https://as1.ftcdn.net/v2/jpg/02/32/62/10/1000_F_232621016_guMHJbCXn90eseySbB3vbmeCsaSzVjs1.jpg - swapped colors using GIMP graphic editor. */

    background: url("../../assets/images/fruitbackground.jpg");
    background-size: cover;

    font-family: "Notable", sans-serif;
    text-align: center;
    
}

/* Styling for header content Game Title, Moves, Pairs */

h1,h2,h3{
  font-family: "Didact Gothic", sans-serif;
  color: darkblue;
  text-shadow: 3px 3px lightgray;

}

/* Styling for our timer */

span{

  font-family: "Didact Gothic", sans-serif;
  font-size: larger;
  color: darkblue;
  text-shadow: 3px 3px lightgray;


}

/* Styling for 2 buttons New Game and How to Play */

button {

  color: darkblue;
  font-family: "Didact Gothic", sans-serif;
  background-color: aquamarine;
  box-shadow: 3px 3px lightgray;
 
}




/* How to play modal adapted based on https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.playmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Show on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .play-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
    font: 1em sans-serif;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .playclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .playclose:hover,
  .playclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



/* /* The Modal (background) */
.winmodal {
  display: none; /* hide modal by default */
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.win-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  font: 1em sans-serif;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.winclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.winclose:hover,
.winclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#canvas{

height: 290px;
width: 290px;
margin:  auto;
/* Flexbox styling for card animation*/
display: flex;
flex-wrap: wrap;

background-color: lightcyan;
border: 5px solid turquoise;

}

.card{

    height: 65px;
    width: 65px;
    margin: 2.5px;

}


/* --- MEDIA QUERIES FOR LARGER SCREEN TYPES ---- */

/* Small devices (portrait tablets and large phones) */

@media only screen and (min-width: 600px){


  #canvas{

    height: 800px;
    width: 590px;
    
    }
    
    .card{
    
        height: 185px;
        width: 138px;
        margin: 3px;
    
    }

    button {

      font-size: x-large;


    }

    span{

      font-size: x-large;

    }

}

/*Media query for laptop screens */

@media only screen and (min-width: 900px){

  #canvas{

    height: 600px;
    width: 800px;
    
    }

  .card{
    
      height: 135px;
        width: 190px;
  
  
  }

}


/* X-large devices (monitors) */

@media only screen and (min-width: 1280px){


  #canvas{

    height: 750px;
    width: 1100px;
    
    }

    .card{
    
      height: 180px;
        width: 265px;
  
  
  }

  span{

      font-size: xx-large;
  }
  

}

